* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


nav {
    display: flex;
    background-color: #3f93f5;
    align-items: center;
    height: 80px;
    padding: 30px 25px;
}

.nav--logo {
    height: 70px;
    margin-right:auto;
}

.nav--trimesters {
    margin-right: auto;
    color: white;
    font-family: "Poppins", "sans-serif";
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
}