* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.home,
.contact-us,
.sign-up {
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding-top: 30vh;
}

.home {
  background-size:auto;
  background-repeat: no-repeat;
  color: #fff;
  background-color: #89CFF0;
  padding-top:0;
}

.motherAndText {
  display: flex;
}
.home-text {
  padding-top: 200px;
}
.home-welcome {
  font-size: 90px;
  text-align: center;
}
.home-quote {
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
  /* font-weight: 400; */
}
.home-para {
  text-align: center;
  padding-top: 80px;
  font-size: 35px;
  font-weight: 600;
}
.home-img {
  width: 40vw;
  height: auto;
  display: inline-block;
  /* justify-content: start; */
}

.api {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
.api-img {
  margin-left: 100px;
  max-width: 23%;
  margin-right: 30px;
}
.api-text {
  align-self: center;
}
.api-text-quote {
  font-size: 25px;
  padding-left:20px;
}
.api-text-find {
  font-size: 45px;
  margin-top: 20px;
  margin-left: 20px
}

:root {
  --primary: #3f93f5;
}

.home-btn {
  padding: 20px 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  background-color: var(--primary);
  margin-top: 50px;
  cursor: pointer;
  margin-left: 20%;
}

.home-btn:hover {
  /* padding: 6px 18px; */
  padding: 20px 40px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  /* border: 2px solid var(--primary); */
}


.contact-us {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  background-color: #89CFF0;
  font-size: 100px;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #89CFF0;
  color: #fff;
  font-size: 100px;
  /*margin-left: 30px;*/
  text-align: center;
}



@media screen and (max-width: 920px) {
  .home {
    background-size:auto;
    background-repeat: no-repeat;
    color: #fff;
    background-color: #89CFF0;
    padding-top:0;
  }
  
  .motherAndText {
    display: flex;
    flex-direction: column;
  }
  .home-text {
    padding-top: 10px;
  }
  .home-welcome {
    font-size: 120%;
    text-align: center;
  }
  .home-quote {
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
    /* font-weight: 400; */
  }
  .home-para {
    text-align: center;
    padding-top: 35px;
    font-size: 30px;
    font-weight: 600;
  }
  .home-img {
    width: 80%;
    align-self: start;
    padding-top: 9vh;
  }
  .api {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    padding-bottom: 5%;
  }
  .api-img {
    margin: 0px;
    max-width: 30%;
    margin-right: 30px;
    align-self: center;
    order: 1;
  }
  .api-text {
    align-self: center;
    order: 2;
  }
  .api-text-quote {
    font-size: 25px;
  }
  .api-text-find {
    font-size: 40px;
    margin-top: 20px;
  }
  :root {
    --primary: #3f93f5;
  }
  
  .home-btn {
    padding: 20px 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    background-color: var(--primary);
    margin-top: 50px;
    cursor: pointer;
    align-self: center;
    margin-right: 20%;
  }
  
  .home-btn:hover {
    /* padding: 6px 18px; */
    padding: 20px 40px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    /* border: 2px solid var(--primary); */
  }
}




